{% load static %}

<div class="container-fluid" style="height: 52px;padding: 0px;margin: 0px; border-bottom: 2px solid black; background-color: #C0C0C0;">
    <img class="moving-image" src="{% static '/img/banner/perritogris.gif'%}" style="width: 50px;"></img>
    <img class="moving-image1" src="{% static '/img/banner/perritogris.gif'%}" style="width: 50px;"></img>
    <img class="moving-image2" src="{% static '/img/banner/perritogris.gif'%}" style="width: 50px;"></img>

</div>
<nav class="navbar justify-content-center" style="background-color: #E6E6E6;height: 80px">
    <!-- Logo -->
    <a class="navbar-link center" href="{% url 'inicio' %}"><img  class="logoprincipal" src="{% static 'img/logos/logon.png' %}" alt="Logo" style="height: auto; position: relative;"></a>
    <!-- Botón de hamburguesa para dispositivos móviles -->
</nav>
