{% extends 'base.html' %}
{% load static %}
	
{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6" style="background-color: rgb(255, 255, 255, 0.7);padding: 0px;margin: 0px; padding-right: 100px;">
            <img src="{% static '/img/banner/bs.png'%}" alt="banner" style="width: 85%;padding: 0px;margin: 0px;">
        </div>
        <div id="Grupos" class="col-lg-6">
            <div class="row" style="margin-top: 60px;padding-right: 50px;padding-left: 50px;">
                <div class="col-4" style="padding: 20px;">
                    <div class="botones">
                        <a href="https://chat.whatsapp.com/LSc6febyIm7EY0qb21JxrU">Conóceme
                            <img src="{% static '/img/iconos/conoceme.png'%}" alt="" width="50%">
                        </a>
                    </div>
                </div>
                <div class="col-4" style="padding: 20px;">
                    <div class="botones">
                        <a href="https://chat.whatsapp.com/ICrp2Jy5O9KG34LWxobubM">¡Adopta un Peludito!</a>
                    </div>
                </div>
                <div class="col-4" style="padding: 20px;">
                    <div class="botones">
                        <a href="https://chat.whatsapp.com/Fk7kFZrYXi29bweUUPUTuL">Mis Negocios</a>
                    </div>
                </div>
                <div class="col-4" style="padding: 20px;">
                    <div class="botones">
                    <a href="https://chat.whatsapp.com/HTGFcjkkmM5DJ0P7xQwSyW">Galería</a>
                    </div>
                </div>
                <div class="col-4" style="padding: 20px;">
                    <div class="botones">
                        <a href="https://t.me/+70KO-H-hTKE4MWFh">Noticias</a>
                    </div>
                </div>
                <div class="col-4" style="padding: 20px;">
                    <div class="botones">
                    <a href="https://chat.whatsapp.com/BuYPiHPOytq9exSckD3lzr">Contacto</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
